<h1 class="text-3xl mb-8">
  Your affordability statements
</h1>

<%= link_to(
      "Create a new statement",
      new_affordability_statement_url,
      class: "underline hover:font-medium"
    ) %>
