<h1 class="text-3xl mb-8">
  Your affordability statements
</h1>

<%= link_to(
      "Create a new statement",
      new_affordability_statement_url,
      class: "underline hover:font-medium"
    ) %>

<table class="mt-8 max-w-xl text-left">
  <thead>
    <tr>
      <th>Statement period</th>
      <th>Disposable income</th>
    </tr>
  </thead>
  <tbody class="space-y-6">
    <% @statements.each do |statement| %>
      <tr>
        <td><%= statement.statement_period.strftime("%B %Y") %></td>
        <td><%= number_to_currency(statement.disposable_income / 100.0, unit: "£") %></td>
      </tr>
    <% end %>
</table>
